# Xcode által generált fájlok és build mappák
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# User-specifikus beállítások
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
.swiftpm/
# SwiftPM workspace
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods
Pods/
# CocoaPods generated workspace
*.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archivált build fájlok
*.xcarchive

# iOS Device logs
*.crash
*.ips

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Code coverage reports
*.xccovreport
*.xccovarchive

# Other
*.DS_Store
